/* Global */
  
* {
    -fx-text-color: #ccc;
	-fx-color-transparent: #00000000;
	-fx-color-0: #333;
	-fx-color-1: #313131;
	-fx-color-2: #363636;
	-fx-color-3: #464646;
	-fx-color-4: #565656;
	-fx-color-5: #777;
	-fx-color-6: #a6a6a6;
	-fx-color-btn: #36d636;
	-fx-color-btn-focus: #56fa56;
    
	-fx-focus-color: -fx-secondary-color;
}

.root{
    -fx-text-background-color: -fx-text-color;
}

/* TabPane */
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -fx-color-0;
}

/* TabPane > Tab */
.tab-pane .tab-header-area .tab {
    -fx-background-color: -fx-color-3;
    -fx-margin: 16;
}

* .focus-indicator {
    -fx-background-color: -fx-color-transparent;
    -fx-background-radius: 0;
}

/* TabPane > Content */
.tab-pane .tab-content-area {
    -fx-background-color: -fx-color-0;
}

/* TitledPane */
.tab-pane .tab-content-area .titled-pane {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 2;
}

/* TitledPane > Title */
.tab-pane .tab-content-area .titled-pane .title {
    -fx-background-color: -fx-color-5;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

.tab-pane .tab-content-area .titled-pane .title {
    -fx-text-bakground-color: -fx-text-color;
    -fx-font-size: 14;
}

/* TitledPane > Content */
.tab-pane .tab-content-area .titled-pane .content {
    -fx-background-color: -fx-color-3;
    -fx-border-width: 0;
}

/* TitledPane > Content > VBox */
.tab-pane .tab-content-area .titled-pane .content .vbox {
    -fx-border-width: 0;
}

/* TableView */
.table-view {
    -fx-background-color: -fx-color-3;
}

.table-view .filler {
    -fx-background-color: -fx-color-3;
}

/* TableView > Column */
.table-column {
    -fx-background-color: -fx-color-4;
    -fx-background-radius: 4;
    -fx-background-insets: 2;
}

.table-view .column-header-background {
    -fx-background-color: -fx-color-3;
}

/* TextField */
.text-field {
    -fx-padding: 0;
    -fx-background-color: -fx-color-2;
    -fx-border-radius: 4;
    -fx-border-color: -fx-color-1;
}

/* DatePicker */
.date-picker {
    -fx-background-color: #00000000;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-color-6;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-color-6;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: black;
}

.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}

/* Button */
.button {
    -fx-padding: 0 0 -2 0;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-color: -fx-color-btn;
}

.button:hover {
    -fx-background-color: -fx-color-btn-focus;
}

